





.profile-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}


.profile-main-box {
    display: flex;
    gap: 60px;
}

.profile-photo-box {
    width: 40%;
    text-align: center;
}

.profile-img-large {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #5873ff;
    margin-bottom: 15px;
}

.default-img {
    background: #111828;
    padding: 10px;
}


.upload-input {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    background: #111828;
    border: 1px solid #35415a;
    border-radius: 8px;
    color: white;
}

.upload-btn {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    background: #5873ff;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: .2s;
}

.upload-btn:hover {
    background: #6f88ff;
}


.profile-info-box {
    width: 50%;
    padding: 20px;
    background: #111828;
    border-radius: 12px;
}

.profile-section-title {
    font-size: 22px;
    margin-bottom: 10px;
}

.profile-info-box p {
    font-size: 16px;
    margin: 8px 0;
}

.detail-icon-box {
    margin-top: 15px;
}

.profile-icon-small {
    width: 40px;
    opacity: 0.8;
}