body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #0f0f0f;
  color: #f5f5f5;
  line-height: 1.6;
}

.navbar {
  background-color: #0f0f0f;
  border-bottom: 1px solid #b38cff;
  padding: 0.8rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 10px rgba(179, 140, 255, 0.5);
}

.navbar-container {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 2px solid #6a0dad;
  box-shadow: 0 0 10px rgba(106, 13, 173, 0.4);
}

.nav-profile-btn
{
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border: 2px solid #b38cff;
}

.navbar-right {
  display: flex;
  gap: 2rem;
  margin: 0 auto;       
}

.nav-link {
  color: #cfcfcf;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 0.8rem;
  position: relative;
  transition: color 0.3s, transform 0.2s;
}

.nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;            
  height: 0%;             
  background: rgba(106, 13, 173, 0.2);
  border-radius: 6px;
  transition: height 0.3s ease-in-out;  
  z-index: -1;
}

.nav-link:hover::before {
  height: 100%; 
}

.nav-link:hover {
  color: #b38cff;
  transform: scale(1.05);
}

.nav-link.active {
  color: #b38cff;
}

.balance-box {
  background: linear-gradient(0deg, #000000, #000000);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  color: #e6d6ff;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(106, 13, 173, 0.5);
  border: 1px solid #b38cff;
  text-shadow: 0 0 4px rgba(253, 253, 253, 0.5);
}

.balance-add-btn {
  position: absolute;
  right: 18px;      
  top: 50%;
  transform: translateY(-50%);

  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid #b38cff;
  background: #1a001f; 
  color: #d8baff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 8px rgba(179, 140, 255, 0.5);
  transition: all 0.2s ease;
}


.balance-add-btn:hover {
  background: #3a005f;
  color: white;
  transform: translateY(-50%) scale(1.15);
  box-shadow: 0 0 12px rgba(179, 140, 255, 0.8);
}

.game-container
{
  margin-top: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%, -50%);
  height: 700px;
  width: 800px;
  background-color: #313131;
  border: 2px solid #b38cff;
}

.game-container.disabled
{
  opacity: 0.6;
  cursor: not-allowed;
}

.bet-container
{
  margin-top: 40px;
  align-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-150%, -50%);
  height: 700px;
  width: 400px;
  background-color: #313131;
  border: 2px solid #b38cff;
}

.game-button
{
  background-color: #b38cff;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.game-button:hover
{
  background: #7c64ad;
}
.game-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.game-button.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


/* BLACKJACK STYLE */

body {
    font-family: "Segoe UI", Arial, sans-serif;
    text-align: center;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

#stay {
    width: 100px;
    height: 50px;
    font-size: 20px;
}