{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Your Profile</title>

 {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

  <!-- =====NAVBAR==== -->
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-left">
        <a href="/" class="nav-link">
          <img src="{% static 'img/logo.png' %}" alt="Logo" class="navbar-logo">
        </a>
      </div>

      <div class="navbar-right">
        <a href="/game1/" class="nav-link">Blackjack</a>
        <a href="/game2/" class="nav-link">Roulette</a>
        <a href="/game3/" class="nav-link">Mines</a>
        <a href="/game4/" class="nav-link">Coinflip</a>
      </div>

      <a href="/profile/" class="nav-link">
        <img src="{% static 'img/profile-circle-svgrepo-com.svg' %}" class="nav-profile-btn">
      </a>

      <div class="balance-box">
        Balance: <span id="balance-amount">0</span>
        <button class="balance-add-btn">+</button>
      </div>
    </div>
  </nav>

  <div class="profile-layout">

    <!-- Sidebar -->
    <div class="profile-sidebar">
      <button class="profile-tab active">Profile</button>
      <button class="profile-tab">Rewards</button>
      <button class="profile-tab">History</button>

      <a href="/logout/"><button class="profile-tab logout">Log Out</button></a>
    </div>

    <!-- Profile Content -->
    <div class="profile-container">
      <div class="profile-content">

        <h2 class="auth-title">Welcome, {{ user.username }}!</h2>

        <div class="profile-info">
          <p><strong>Username:</strong> {{ user.username }}</p>
          <p><strong>Email:</strong> {{ user.email }}</p>
        </div>

        <!-- Profile Image -->
        <div class="profile-image-section">

          {% if profile.profile_image %}
            <img src="{{ profile.profile_image.url }}" class="profile-img">
          {% else %}
            <img src="{% static 'img/default-profile.png' %}" class="profile-img">
          {% endif %}

          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="profile_image" accept="image/*" class="upload-input">
            <button type="submit" class="auth-button">Update Photo</button>
          </form>

        </div>

      </div>
    </div>

  </div>

  <script src="{% static 'js/currencyManager.js' %}"></script>
  <script src="{% static 'js/profile.js' %}"></script>

  <footer>
    Fake currency only · No real-money gambling · For demonstration & fun play.
  </footer>

</body>
</html>
