{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body class="dark-bg">
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
{% endif %}


    <div class="auth-card">
        <h2 class="auth-title">Create Account</h2>

        <form method="POST">
            {% csrf_token %}
            
            <input class="auth-input" type="text" name="username" placeholder="Username" required>
            <input class="auth-input" type="email" name="email" placeholder="Email" required>
            <input class="auth-input" type="password" name="password" placeholder="Password" required>

            <button class="auth-button" type="submit">Sign Up</button>
        </form>

        <p class="auth-link">
            Already have an account? <a href="/login/">Login</a>
        </p>
    </div>

</body>
</html>
